{% extends 'base/base2.html' %}
    {% block title %}{{ specific_project.title }} Crew List{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item"><a href="/projects/{{ specific_project.project_id }} ">{{ specific_project.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ specific_project.title }} Crew</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
<table class="table table-hover">
    <tr><th scope="col">Role</th>
    <th scope="col">Name</th> 
    <th scope="col">Remove</th>  
  {% for user in crew %}
    <tr><td>{{ user.role }}</td>
    <td>{{ user.fullname }}</td>
    <td><button name="Remove" value="delete"></button></td></tr>
  {% endfor %}
</table></div>


<script>
$(document).ready(function(){

 // Delete 
 $('.delete').click(function(){
   var el = this;
   var id = this.id;
   var splitid = id.split("_");

   // Delete id
   var deleteid = splitid[1];
 
   // AJAX Request
   $.ajax({
     url: '/crews/{{ specific_project.project_id }}',
     type: 'POST',
     data: { id:deleteid },
     success: function(response){

       if(response == 1){
     // Remove row from HTML Table
     $(el).closest('tr').css('background','tomato');
     $(el).closest('tr').fadeOut(800,function(){
        $(this).remove();
     });
      }else{
     alert('Invalid ID.');
      }

    }
   });

 });

});
</script>



<div class="col">
<h4>Recommended Crew Members</h4>
Recommend crew members you haven't worked with that are near your location and have worked on projects with similiar keywords in the logline/genre.
<ul>
    {% for user in crew %}
          <li>
            <a href='/user/{{ user.user_id }}'>{{ user.user_id }} ({{ user.role }})</a> 
          </li>
    {% endfor %}
  </ul>

<h3>Add Crew Member</h3>
    <form form method='POST' action="/crew/{{ specific_project.project_id }}">
        Name: 
        <select name="name">
            {% for user in users %}
                <option value="{{  user.fname  }} {{  user.lname  }}">{{  user.fname  }} {{  user.lname  }}</option>
            {% endfor %}
        </select>
        Role: 
        <select name="role">
        <option value="Director">Director</option>
        <option value="Producer">Producer</option>
        <option value="Director of Photography">Director of Photography</option>
        <option value="1st-AC">1st AC</option>
        <option value="2nd-AC">2nd AC</option>s
        <option value="Gaffer">Gaffer</option>
        <option value="Best-Boy">Best Boy</option>
        <option value="Production-Assistant">Production Assistant</option>
        <option value="Client-Service">Client Service</option></select>
        {% for user in users %}
            {% for crewmember in crew %}
                {% if crewmember.fullname in user.fname+user.lname %}
                    <input type="hidden" name="user_id" value='{{ user.user_id }}'>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button name="sumbit" value="name">Submit</button>

    </form></div>





      


    ------------------------------<br>
<!-- <a href='/projects/{{ specific_project.project_id }}'>Back to {{ specific_project.title }} Overview</a><br> -->
<h4>View:</h4>
        <a href="/callsheet/{{ specific_project.project_id }}" class="btn btn-dark" role="button" aria-disabled="true"><i class="fas fa-file"></i> Call Sheets</a><br><br>
        <a href="/crew/{{ specific_project.project_id }}" class="btn btn-dark" role="button" aria-disabled="true"><i class="fas fa-users"></i> Crew List</a></a><br><br>
        <a href="#" class="btn btn-dark" role="button" aria-disabled="true"><i class="fas fa-edit"></i> Edit Project</a><br>
</div></div></div></div>



{% endblock %}
