
body .wolf-pic {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img {
    height: 200px;
    width: 200px;
}

.melon-div {
    display: inline-block;
    padding: 10px;
    width: 205px;
}

.melon-div img {

    border-style: dotted;
    border-color: green;
}

body {

    background-color: #ffffff;

}

h3 {

    font-family: sans-serif;
}