{% extends 'base2.html' %}
    {% block title %}{{ specific_project.title }} Crew List{% endblock %}
{% block content %}

<h1><i>{{ specific_project.title }}</i> Crew List</h1>
<ul>
    {% for crewmember in crewmembers %}
          <li>
            <a href='/user/{{ crewmember.user_id }}'>{{ crewmember.user_id }} ({{ crewmember.role }})</a>
          </li>
    {% endfor %}
  </ul>

<h3>Add Crew Member</h3>
    <form form method='POST' action="/crew/{{ specific_project.project_id }}">
        Name: 
        <select name="name">
            {% for user in users %}
                <option value="{{ user.user_id }}">{{  user.fname  }} {{  user.lname  }}</option>
            {% endfor %}
        </select>
        Role: 
        <select name="role">
        <option value="Director">Director</option>
        <option value="Producer">Producer</option>
        <option value="Director of Photography">Director of Photography</option>
        <option value="1st-AC">1st AC</option>
        <option value="2nd-AC">2nd AC</option>s
        <option value="Gaffer">Gaffer</option>
        <option value="Best-Boy">Best Boy</option>
        <option value="Production-Assistant">Production Assistant</option>
        <option value="Client-Service">Client Service</option></select>
        <button name="sumbit" value="name">Submit</button>
    </form>

<div>
    ------------------------------<br>
<!-- <a href='/projects/{{ specific_project.project_id }}'>Back to {{ specific_project.title }} Overview</a><br> -->
<a href="#">Call Sheets</a><br>
<a href="#">Files</a><br>
<a href="/crew/{{ specific_project.project_id }}">Crew List</a><br>
<a href="#">Edit Project</a><br>
<a href='/projects/{{ specific_project.project_id }}'>Back to {{ specific_project.title }}</a>
</div>

{% endblock %}
