{% extends 'base2.html' %}
    {% block title %}Create a New Project{% endblock %}
{% block content %}
<form action="/newproject" method="POST">
    Title: <input type="text" name="title"><br>
    Start Date: <input type="date" name="sdate"><br>
    End Date: <input type="date" name="edate"><br>
    Location: <input type="text" name="location"><br>
    Description: <textarea name="proj_desc"></textarea>
    <input type="hidden" name="user_id" value='{{ user_id }}'><br>

    <input type="submit" value="Create">
</form>

{% endblock %}