{% extends 'base2.html' %}
    {% block title %}View Profile{% endblock %}
{% block content %}

<h1>{{ user.fname }}'s Profile </h1>

<p>Here are the details about your profile:</p><br>
<ul>
    <li>First Name: {{ user.fname }}</li><br>
    <li>Last Name: {{ user.lname }}</li><br>
    <li>Email: {{ user.email }}</li><br>
    <li>Location: {{ user.location }}</li><br>
</ul>


<h2>Edit Profile</h2>
<form action="/user" method="POST">
    First Name: <input type="text" name="fname"><br>
    Last Name: <input type="text" name="lname"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="pw"><br>
    LinkedIn: <input type="text" name="portfolio"><br>
    Location: <input type="text" name="location"><br>
    <input type="submit" value="Submit">
</form>


{% endblock %}