{% extends '/base/base2.html' %}
    {% block title %}Callsheets{% endblock %}
{% block content %}

<!-- Navigation -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Callsheets</li>
  </ol>
</nav>

<link rel="stylesheet" link="static/css/callsheets.css">

<div class="container">
  <div class="row">
    <div class="col">
      All of the callsheets for the user will live here.
    </div>
  </div>
</div>

{% endblock %}
