{% extends '/base/base2.html' %}
    {% block title %}View Profile{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>{{ user.fname }}'s Profile </h1>
    </div>
    <div class="row">
        <ul>
                <li>First Name: {{ user.fname }}</li><br>
                <li>Last Name: {{ user.lname }}</li><br>
                <li>Email: {{ user.email }}</li><br>
                <li>Zipcode: {{ user.zipcode }}</li><br>
        </ul>
    </div>
</div>


{% endblock %}